<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My EJS training ground.">

  <title>Hello World</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg padding-navBody navbar-dark">
    <a class="navbar-brand nav-color" href="#"><i class="fas fa-carrot"></i> Karrot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link " href="/recipe">Recipes</a>
        <a class="nav-item nav-link " href="/about">About Me</a>
      </div>
    </div>
  </nav>

  <!-- navbar here -->
  <!-- body here -->
