<%- include("partials/header") -%>
<div class="padding-navBody text-alignment ">
  <h1 class="padding-head">About Me</h1>
  <div class="paddingTop">
    <div class="side">
      <img class="aboutMe" src="/images/mother.png" alt="woman">

    </div>
    <p class="p-posts"><%- htmlDisplay(teste) %></p>
  </div>

</div>
<%- include("partials/footer")-%>
