<%- include("partials/header") -%>

<div class="padding-navBody text-alignment ">
  <h1 class="padding-head">Recipes - So Yummy!!</h1>

  <div class="paddingTop ">
    <!-- d-flex justify-content-between -->
    <div class="row">
      <div class="col-lg-4 col-md-6 paddingZero">
        <div class="card">
          <img src="\images\anthony-espinosa-cinnamonroll.jpg" class="card-img-top img-fluid" alt="cinnamon-roll-anthony-espinosa">
          <div class="card-body">
            <h5 class="card-title">Cinnamon Rolls</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-light">Click!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 paddingZero">
        <div class="card">
          <img src="\images\khloe-arledge-bowl.jpg" class="card-img-top" alt="chicken-bowl-khloe-arledge">
          <div class="card-body">

            <h5 class="card-title">Chicken'N'Rice</h5>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-light">Click!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 paddingZero">
        <div class="card">
          <img src="\images\mae-mu-macha.jpg" class="card-img-top" alt="macha-mae-mu">
          <div class="card-body">
            <h5 class="card-title">Macha</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-light">Click!</a>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>


<%- include("partials/footer") -%>
