body {
  color: #5b5656;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

h1 {
  font-weight: 900;
}

.padding-navBody {
  padding: 0.5% 7%;
}

br {}

/* Navbar */
.navbar {
  font-family: 'Raleway', sans-serif;
  background-color: #7fcd91;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Posts*/
.padding-head {
  padding-top: 3%;
}

.p-posts {
  text-align: justify;
  padding: 1% 0;
  line-height: 2rem;
}

.text-alignment {
  margin-top: 4%;
  padding-bottom: 8%;
}

.paddingTop {
  padding-top: 5%;
}

.side {
  float: left;
  width: 270px;
}

p.p-posts:first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: #b0eacd;
  letter-spacing: 5px;
}

p.p-posts::first-line {
  color: #F59898;
  text-indent: -6px;
}

/* About Me image */
.aboutMe {
  /* border: 1px solid black */
  background-color: #f6eec9;
  border-radius: 15px 50px;
  /* margin-bottom: 1%; */
}

/* Footer */
footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  background-color: #f5eaea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 0.5%;
  height: 30px;
}
