body {
  color: #5b5656;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

h1 {
  font-weight: 900;
}

.padding-navBody {
  padding: 0.5% 7%;
}

.container-fluid {
  margin: 5% 0;
}

/* Navbar */
.navbar {
  font-family: 'Raleway', sans-serif;
  background-color: #7fcd91;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Posts*/
.padding-head {
  padding-top: 3%;
}

.p-posts {
  text-align: justify;
  padding: 1% 0;
  line-height: 2rem;
}

.text-alignment {
  margin-top: 4%;
  padding-bottom: 8%;
}

.paddingTop {
  padding-top: 5%;
}

.side {
  float: left;
  width: 270px;
}

p.p-posts:first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: #b0eacd;
  letter-spacing: 5px;
}

p.p-posts::first-line {
  color: #F59898;
  text-indent: -6px;
}

/* About Me image */
.aboutMe {
  background-color: #f6eec9;
  border-radius: 15px 50px;
}

/* Cards */
.card {
  width: 21rem;
  margin: 0 0 5% 0;
  border-radius: 15px;
}

.card-title {
  color: #F59898;
  font-weight: 700;
}

.btn-light {
  /* font-weight: bold; */
  background-color: #ccedd2;
  /* background-color: #f6eec9; */
  /* color: #F59898; */
}

.btn-light:hover {
  background-color: #FFA500;
}

.paddingZero {
  padding: 0 0;
}

.row {
  margin: 0;
}

/* Footer */
footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  background-color: #effcef;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  padding-top: 0.5%;
  height: 30px;
}
